<h2>Edit your profile</h2>

    <%= simple_form_for(@profil) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :city %>
    <%= f.submit "Save Change"%>
<% end %>


