<%= simple_form_for (@profil) do |f| %>
<div class="container white">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <form action="#">
        <h1 class="text-center">Complete your profile</h1>
        <div class="row">
          <div class="col-xs-12">
            <div = class="form-group">
              <%= f.input :name %>
              <%= f.input :address , input_html: {id: "profil_address"}%>
              <%= f.input :city , input_html: {id: "profil_city"}%>
              <%= f.input :photo %>
              <%= f.input :photo_cache, as: :hidden %>
            </div>

          </div>
        </div>
        <div class="text-right">
          <%= f.submit "Save", :class => 'form-button text-right' %>
        </div>
      </form>
    </div>
  </div>
</div>
<% end %>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAjH6oP0ksqS7uNlafARSObT8S1VWR_Nds"></script>
<% end %>
