<div class= "container-show">
  <h1 class="text-center"><strong> PROFILE </strong></h1>
  <div class = "row">
    <div class = "col-md-4">
      <div class= "card-show">
        <%= cl_image_tag @profil.photo, height: 50, width: 50, :radius=>"max", crop: :fill, class: "card-user-show img-cust" %>
        <div class= "card-presentation-show"><h2>Présentation</h2></div>
        <div class= "card-description-show">
          <br><%= @profil.name%>
          <br><%=@profil.address%>
          <br><%=@profil.city.capitalize%>
          <div class= "card-edit-show">
            <%= link_to "Edit Profile", edit_profil_path(@profil), class: "form-button" %>
          </div>
        </div>
      </div>
    </div>
    <div class = "col-md-8">
      <div class="container-review">
        <h2>Recruteurs Reviews </h2>
        <div class= review-show>
          <div class= "review-name">
            <h3> Domi </h3>
            <p> 13/02/16</p>
          </div>
          <div class= "review-body">
            <p> Perfect !</p>
          </div>
        </div>
        <div class= review-show>
          <div class= "review-name">
            <h3> JC </h3>
            <p> 22/05/16</p>
          </div>
          <div class= "review-body">
            <p> Merci </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



