
  <h1 class="text-center">Your Profile </h1>
  <br>
  <div class = "row">
    <div class = "col-md-4">
      <div class= "card-show">
        <%= cl_image_tag @profil.photo, height: 50, width: 50, :radius=>"max", crop: :fill, class: "card-user-show img-cust" %>
        <h2 class="text-center">PRESENTATION</h2>
        <div class= "card-description-show">
          <p><strong> Name: </strong><%= @profil.name%></p>
          <p><strong> Address: </strong><%=@profil.address%></p>
          <p><strong> City: </strong><%=@profil.city.capitalize%></p>
          <% if @profil.recruteur %>
          <p><strong> Description: </strong><%= @profil.recruteur.description %></p>
          <% end %>
        </div>
        <div class= "card-edit-show">
            <%= link_to "Edit Profile", edit_profil_path(@profil), class: "form-button" %>
        </div>
      </div>
    </div>
    <div class = "col-md-8">
<div class="container-dev-review">
  <div class="container-dev-content">
    <h2 class="text-center">LOCATIONS</h2>
    <% @locations.each do |location|%>
      <div class="message">
        <%= cl_image_tag Developpeur.find(location[-4]).profil.photo,crop: :fill, class: "avatar-large" %>
        <div class="message-name">
          <h3><%=Developpeur.find(location[-4]).profil.name%></h3>
          <p><%= location[1]%></p>
        </div>
        <div class="message-body">
          <p><strong>Description de <%= Developpeur.find(location[-4]).profil.name%></strong></p>
          <p>
            <%=Developpeur.find(location[-4]).description%>
          </p>
        </div>
        <div class="message-status">
    <p class="status pending">Pending</p>
    <p class="price"><%= location[-1]%> €</p>
  </div>
      </div>
      <br>

    <% end %>
  </div>
</div>
    </div>
  </div>

