<br>
<br>
<br>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container white">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <form action="#">
        <h1 class="text-center">LOG IN</h1>
        <div class="row">
          <div class="col-xs-12">
            <div = class="form-group">
              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, required: false %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>
        </div>
        <div class="text-right">
          <%= f.button :submit, "Log in" %>
        </div>
      </form>
        <%= render "devise/shared/links" %>
    </div>
  </div>

</div>
<% end %>





