<h1>Developpeurs#index</h1>
<p>Find me in app/views/developpeurs/index.html.erb</p>
<br>
<% @developpeurs.each do |developpeur|%>
<%= cl_image_tag Profil.find(developpeur.profil_id).photo, height: 200, width: 200, :radius=>"max", crop: :fill, class: "img-cust" %>
  <p>Name :<%= developpeur.profil.name%></p>
  <% if developpeur.available == "available"%>
    <p>Description :<%= link_to developpeur.description, new_developpeur_location_path(developpeur)%></p>
  <%else %>
    <p>Description :<%=developpeur.description%></p>
  <% end %>
  <p>Status :<%= developpeur.available%></p>
  <p>Price :<%= developpeur.price%></p>
  <p>City :<%= Profil.find(developpeur.profil_id).city%></p>



  <br>
<% end %>
