<div class="grid">
  <div class="desc-developpeur">
    <div class="container-presentation">
      <%= cl_image_tag (Profil.find(@developpeur.profil_id)).photo, height: 200, width: 200, crop: :fill, class: "img-cust photo-dev" %>
      <div class="text-container">
        <p class="text-center"> <strong> <%= @developpeur.profil.name.upcase %> </strong></p>
        <br>
        <p><strong>Description: </strong><%= @developpeur.description %> </p>
        <p><strong>Available: </strong> <%= @developpeur.available %> </p>
        <p><strong>Price: </strong> <%= @developpeur.price %> €/day</p>
      </div>

    </div>
  </div>
  <div class="desc-create-location">
    <div class="container-presentation">
      <%= simple_form_for [@developpeur,@location] do |f| %>

          <h3 class="text-center">Create a new location</h3>
          <div class="align-date">
            <%= f.input :check_in , html5: true, input_html: {id: "dev-check_in"}%>
            <%= f.input :check_out , html5: true, input_html: {id: "dev-check_out"}%>
          </div>
          <br>

          <p id="dev-price1"> Price/day: <%=@developpeur.price %> € </p>
          <p id="dev-price"> Total price : 0 € </p>

          <%= f.hidden_field :status, :value => "pending" %>
          <%= f.hidden_field :developpeur, :value => @developpeur.id %>
          <%= f.hidden_field :developpeurprice, :value => @developpeur.price , id: "dev-price-dev" %>
          <%= f.input :price, :value => 0, input_html: {id: "pricer"}%>

          <%= f.submit "Create Location", class: "form-button" %>

        <% end %>
</div>

  </div>
  <div class="desc-reviews-dev">
    <div class="container-dev">

  <div class="row">

      <div class="col-md-12">

        <div class="container-dev-review">
          <div class="container-dev-content">
            <% @reviews.each_with_index do |review, ind|%>
              <div class="message">
                <%= cl_image_tag (Profil.find(review[-2])).photo,crop: :fill, class: "avatar-large" %>
                <div class="message-name">
                  <h3><%=Profil.find(review[-2]).name%></h3>
                  <p>10/07/17</p>
                </div>
                <div class="message-body">
                  <p><strong><%= review[1] %></strong></p>
                  <% review[2].to_i.times do %>
                    <i class="fa fa-star" style="color:gold" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
              <br>

            <% end %>
          </div>
        </div>
      </div>
  </div>

</div>
  </div>
</div>




<%= content_for(:js) do %>
  <script type="text/javascript">
    console.log('coucou');
    var profilPrice = document.getElementById('dev-price');
var putPrice = document.getElementById('pricer');

var profilCheckin = document.getElementById('dev-check_in');
var profilCheckout = document.getElementById('dev-check_out');

const devPrice = document.getElementById('dev-price-dev').value

document.addEventListener("DOMContentLoaded", function() {
profilCheckout.addEventListener("blur", function() {
  var mydatein = new Date(profilCheckin.value);
  var mydateout = new Date(profilCheckout.value);
  var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
  var diffDays = Math.round(Math.abs((mydateout.getTime() - mydatein.getTime())/(oneDay)));
  profilPrice.innerText = "Total price: " + (diffDays * devPrice) + "€"
  putPrice.value = (diffDays * devPrice)

});
});
  </script>
<% end %>





  <div id="map"></div>
<% content_for(:js) do %>
  <%= javascript_pack_tag 'showdev' %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>
