<%= link_to "Edit your Location", new_developpeur_location_path(@developpeur) %>


<div class="container-dev">
  <div class="row">
    <div class="col-md-8">
      <div class="container-presentation">
        <%= cl_image_tag (Profil.find(@developpeur.profil_id)).photo, height: 200, width: 200, crop: :fill, class: "img-cust photo-dev" %>
        <div class="col-md-6 col-md-offset-1">
          <div class="text-container">
            <p class="text-center"> <strong> <%= @developpeur.profil.name.upcase %> </strong></p>
            <br>
            <p><strong>Description: </strong><%= @developpeur.description %> </p>
            <p><strong>Available: </strong> <%= @developpeur.available %> </p>
            <p><strong>Price: </strong> <%= @developpeur.price %> €/day</p>
          </div>
        </div>
        <div class="links-dev">
          <%= link_to "Edit your profil", edit_profil_developpeur_path(Profil.find(current_user.profil.id), Profil.find(current_user.profil.id)), class: "form-button" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="row">

      <div class="col-md-12">

        <div class="container-dev-review">
          <div class="container-dev-content">
            <% @reviews.each_with_index do |review, ind|%>
              <div class="message">
                <%= cl_image_tag (Profil.find(review[-2])).photo,crop: :fill, class: "avatar-large" %>
                <div class="message-name">
                  <h3><%=Profil.find(review[-2]).name%></h3>
                  <p>10/07/17</p>
                </div>
                <div class="message-body">
                  <p><strong><%= review[1] %></strong></p>
                  <p>
                    rate : <%= review[2] %>
                  </p>
                </div>
              </div>
              <br>

            <% end %>
          </div>
        </div>
      </div>
  </div>

</div>
<div class="container">
  <div class="wrapper">

  </div>
</div>
  <div id="map"></div>
<% content_for(:js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>
