<p>
  <%= @developpeur.description %>
</p>
<p>
  <%= @developpeur.available %>
</p>
<p>
  <%= @developpeur.price %>
</p>
<div>
  <%= cl_image_tag (Profil.find(@developpeur.profil_id)).photo, height: 200, width: 200, :radius=>"max", crop: :fill, class: "img-cust" %>
</div>

<%= link_to "Edit your profil", edit_profil_developpeur_path(Profil.find(current_user.profil.id), Profil.find(current_user.profil.id)) %>


