<div class="grid">
  <div class="desc-developpeur">
    <div class="container-presentation" style="padding:15px;">
      <%= cl_image_tag (Profil.find(@developpeur.profil_id)).photo, height: 200, width: 200, crop: :fill, class: "img-cust photo-dev" %>
      <div class="text-container">
        <p class="text-center"> <strong> <%= @developpeur.profil.name.upcase %> </strong></p>
        <br>
        <p><strong>Description: </strong><%= @developpeur.description %> </p>
        <p><strong>Available: </strong> <%= @developpeur.available %> </p>
        <p><strong>Price: </strong> <%= @developpeur.price %> €/day</p>
      </div>
    </div>
  </div>
  <div class="desc-create-location">
    <div class="container-presentation" style="padding:15px;">
      <%= simple_form_for [@developpeur,@location] do |f| %>

          <h3 class="text-center">Create a new location</h3>
          <div class="align-date">
            <%= f.input :check_in , html5: true, input_html: {id: "dev-check_in"}%>
            <%= f.input :check_out , html5: true, input_html: {id: "dev-check_out"}%>
          </div>
          <br>

          <p id="dev-price1"> Price/day: <%=@developpeur.price %> € </p>
          <p id="dev-price"> Total price : 0 € </p>
        <div style="opacity: 0;">
          <%= f.hidden_field :status, :value => "pending" %>
          <%= f.hidden_field :developpeur, :value => @developpeur.id %>
          <%= f.hidden_field :developpeurprice, :value => @developpeur.price , id: "dev-price-dev" %>
          <p style="opacity: 0;"><%= f.input :price, :value => 0, input_html: {id: "pricer"}%></p>
          </div>
          <%= f.submit "Create Location", class: "form-button" %>
      <% end %>
    </div>
  </div>
</div>

    <div id="map" style="height: 200px; width: 100%;"></div>

<div class="grid">
  <div class="desc-reviews-dev">
    <div class="container-dev">
      <div class="row">
        <div class="col-md-12">
          <div class="container-dev-review">
            <div class="container-dev-content">
              <% @reviews.each_with_index do |review, ind|%>
                <div class="message">
                  <%= cl_image_tag (Profil.find(review[-2])).photo,crop: :fill, class: "avatar-large" %>
                  <div class="message-name">
                    <h3><%=Profil.find(review[-2]).name%></h3>
                    <p><%=Profil.find(review[-2]).created_at%></p>
                  </div>
                  <div class="message-body">
                    <p><strong><%= review[1] %></strong></p>
                    <% review[2].to_i.times do %>
                      <i class="fa fa-star" style="color:gold" aria-hidden="true"></i>
                    <% end %>
                  </div>
                </div>
                <br>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<%= content_for(:after_js) do %>
  <script type="text/javascript">
    console.log('coucou');
    let pricerrrr = document.getElementById('pricer');
    var profilPrice = document.getElementById('dev-price');
var putPrice = document.getElementById('dev-price');

var profilCheckin = document.getElementById('dev-check_in');
var profilCheckout = document.getElementById('dev-check_out');

let testPrice = document.getElementById('dev-price-dev').value
console.log('coucou 2');

  console.log('coucou 3');
profilCheckout.addEventListener('change', function() {
  var mydatein = new Date(profilCheckin.value);
  var mydateout = new Date(profilCheckout.value);
  var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
  var diffDays = Math.round(Math.abs((mydateout.getTime() - mydatein.getTime())/(oneDay)));
  profilPrice.innerText = "Total price: " + (diffDays * testPrice) + "€"
  putPrice.value = (diffDays * testPrice)
  pricerrrr. value = putPrice.value

});
  </script>
<%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>




<% end %>
