
<h1 class="text-center"> Location n° <%= @location.id %> </h1>
  <br>
  <div class = "row">
    <div class = "col-md-8">
      <div class= "card-show">
        <h2 class="text-center">INFORMATIONS</h2>
        <br>
        <div class= "card-description-show">
          <p><strong> Developpeur: </strong><%= @location.developpeur.profil.name %></p>
          <p><strong> Recruteur: </strong><%= @location.recruteur.profil.name %></p>
          <p><strong> Status: </strong><%= @location.status %></p>
        </div>
        <div class= "card-edit-show">
          <div class="desc-create-location">
            <div class="container-message-form">
              <%= simple_form_for [@location, @message] do |f| %>
                <h6 class="text-center">Create a new Message</h6>
                <br>
                <div class="align-date">
                  <%= f.input :content %>
                </div>
                <br>
                <%= f.hidden_field :sender_id, :value => current_user.profil.id %>
                <% if @location.developpeur.profil_id != current_user.profil.id %>
                  <%= f.hidden_field :recipient_id, :value => @location.developpeur.profil_id %>
                <% else %>
                  <%= f.hidden_field :recipient_id, :value => @location.recruteur.profil_id %>
                <% end %>
                <%= f.submit "Create Message", class: "form-button" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class = "col-md-4">
      <div class="card-show">
        <h4 class="text-center"> RAPPEL COMMANDE </h4>
        <br>
        <br>
        <div class= "card-description-show">
          <p><strong> Price per day: </strong><%= @location.developpeur.price.to_i %></p>
          <p><strong> Check-in: </strong><%= @location.check_in%></p>
          <p><strong> Check-out: </strong><%= @location.check_out%></p>
          <br>
          <br>
          <h4><strong> Total Price: </strong><%= (((@location.check_out - @location.check_in).to_i))* @location.developpeur.price.to_i %> €</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="container-message-content">
            <% @messages.each do |message|%>
              <div class="message">
                <div class="message-name">
                  <% if @location.developpeur.profil.id = message[-1] %>
                    <%= Profil.find(@location.developpeur.profil_id).name %>
                  <% else %>
                    <%= Profil.find(@location.recruteur.profil_id).name %>
                  <% end %>
                </div>
                <div class="message-body">
                  <%= message[1] %>
                </div>
                <div class="message-body">
                  <%= message[3] %>
                </div>
              </div>
              <br>
            <% end %>
          </div>
    </div>
  </div>
